.Landing {
  height: 87vh;
  background: #1a2331;
}

.Landing h1 {
  font-family: "Cookie", cursive;
  font-size: 9rem;
  color: white;
}

.Landing p {
  font-family: "Hind", sans-serif;
  color: white;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .Landing h1 {
    font-size: 7rem;
  }
}
