.Navbar .navbar-brand {
  font-family: "Cookie", cursive;
  font-size: 3rem;
}

.Navbar .nav-link {
  font-family: "Hind", sans-serif;
  font-size: 1.2rem;
}

.Navbar .active {
  background-color: #1a2331;
  color: white !important;
}
